/// --------------------------------------------------
/// base/_normalize.scss
/// --------------------------------------------------
/// This file is intended for sanitizing the browsers
/// default styles. Used throughout the project.
/// --------------------------------------------------
@use '../abstracts/variables';
@layer base, space;
@layer base {
  body {
    --base-weight: 400;
    --base-width: 100%;
    font-variation-settings: "wght" var(--base-weight), "wdth" var(--base-width);
  }

  p:last-of-type {
    margin-block: 0;
  }
}


:root {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}


html {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -ms-touch-action:manipulation;
  touch-action:manipulation
}
*,
:after,
:before {
  -moz-box-sizing:inherit;
  box-sizing:inherit
}



// *,
// *::after,
// *::before {
//   box-sizing: border-box;
// }

:where(html) {
  scrollbar-color: var(--color-accent-light) transparent;
  accent-color: var(--color-accent, var(--link));
  caret-color: var(--color-accent, var(--link));
  color: var(--color-dark);
  background-color: var(--color-light);
}

:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin-block-end: 0;
}

/* Set shorter line heights on headings and interactive elements */
:where(h1, h2, h3, h4, button, input, label) {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
:where(h1, h2, h3, h4) {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
:where(a:not([class])) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

:where(a[href]) {
  color: var(--color-accent, var(--link));
}
:where(a[href]):where(:visited) {
  color: var(--color-accent-dark);
}

:where(:target) {
  /* Anything that has been anchored to should have extra scroll margin */
  scroll-margin-block: 5ex;
}
:focus-visible {
  outline-color: var(--color-accent, var(--link));
}

@media (prefers-reduced-motion: no-preference) {
  :where(html) {
    scroll-behavior: smooth;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }

  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}
:where(:not(:active):focus-visible) {
  outline-offset: 5px;
}



:where(a, abbr) {
  text-underline-offset: 1px;
}

@supports (-moz-appearance: none) {
  :where(a, abbr) {
    text-underline-offset: 2px;
  }
}
:where(a[href], button, input:not([type="text"], [type="email"], [type="number"], [type="password"], [type=""], [type="tel"], [type="url"]), label[for], select, [tabindex]:not([tabindex*="-"], pre)) {
  cursor: pointer;
}

:where(a[href], button, input, label[for], select, textarea, [tabindex]:not([tabindex*="-"])) {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

:where(a):where([href]) {
  text-decoration-color: var(--color-accent);
}

:where(a):where([href]):where(:visited) {
  text-decoration-color: var(--color-accent-dark);
}

:where(a):where(:not(:hover)) {
  text-decoration: inherit;
}

:where(img, svg, video, iframe) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

html {
  block-size: 100%;
  inline-size: 100%;
  scroll-behavior: smooth;
}

// 1. Remove the margin in all browsers.
// 2. As a best practice, apply a default `background-color`.
// 3. Prevent adjustments of font size after orientation changes in iOS.
// 4. Change the default tap highlight to be completely transparent in iOS.
body {
  font-family: var(--font-body);
  min-block-size: 100%;
  min-inline-size: 100%;
  display: grid;
  margin: 0;
  color: var(--color-dark);
  background-color: white;
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 4
}

/// Fix for Safari/WebKit not recognizing text-decoration-style
/// @see https://gomakethings.com/text-decoration-style-in-webkit/

a {
  text-decoration: var(--decoration-text-link);
  -webkit-text-decoration: var(--decoration-text-link);
}

a:hover {
  text-decoration: var(--decoration-text-link-hover);
  -webkit-text-decoration: var(--decoration-text-link-hover);
}